subprojects/libzt-wrapper/libzt/
subprojects/.wraplock

config/vn-dispatcher-identity/networks.d
config/vn-dispatcher-identity/peers.d
config/vn-dispatcher-identity/roots

# Build directories
builddir-*/
builddir/

out/

.vscode/.code-workspace
.vscode/c_cpp_properties.json

.github/prompts/plan-taskMessengerCodeReview.prompt.md
dist/
dist-*/

# Downloaded tools
extras/scripts/makeself/
subprojects/flatbuffers-24.3.25/
subprojects/packagecache/
subprojects/cpp-httplib-0.40.0/

# Python bytecode cache
__pycache__/

# Meson downloaded subprojects
subprojects/CLI11/
subprojects/nlohmann_json/
